/* Reset styles for a cleaner layout */

  
  

  .car-list{
    display: grid;
    grid-template-columns: auto auto auto;
  }
  
  .app-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .car-list-home-container {
    width: 100%;
    max-width: 1100px;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  
  .car-list-home {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adjust the gap between cars */
    justify-content: center;
  }
  .car-list-home h2{
    font-size: 25px;
  }
  
  .car-list-card {
    /* width: calc(33.33% - 20px);  */
    background: white;
    border-radius: 16px;
    border: 1px solid lightgray;
    /* display: flex;
    flex-direction: column; */
    align-items: center;
    margin-right: 20px;
    margin-bottom: 20px;
    /* position: relative; */
  }
  
  .car-list-image {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background: linear-gradient(gray, white 25%);
    width: 100%;
    height: 160px;
    display: flex;
    align-items: center;
  }
  
  .car-list-image img {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .car-list-description {
    /* position: absolute;
    top:30px;
    left:30px;
    right:30px; */
    width: 100%;
    padding: 20px 12px 16px 12px;
  }
  
  .desc-reviews {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .desc-title {
    margin-top: 3px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.33;
    letter-spacing: .16px;
    color: #1f1f1f;
  }
  
  .desc-properties {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 5px;
  }
  
  .desc-properties-property {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.33;
    letter-spacing: .4px;
    color: #7a7777;
  }
  
  .property-point {
    height: 3px;
    border-radius: 50%;
    width: 3px;
    background: #a8a8a8;
  }
  
  .car-list-price-dist {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid red;
    padding: 10px 16px;
  }
  
  .car-list-price {
    padding: 16px;
  }
  
  .car-list-price-availability {
    font-size: 11px;
    font-weight: normal;
    line-height: 1.43;
    letter-spacing: .24px;
    color: #7a7777;
  }
  
  .car-list-price-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    letter-spacing: .16px;
    color: #1f1f1f;
  }
  
  .car-list-distance {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 4px;
    background: #fbfff5;
    border: 1px solid lightgray;
    border-radius: 2px;
  }
  
  .car-list-distance img {
    height: 16px;
    width: 16px;
  }
  
  .car-list-distance-place {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 4px;
    background: lightblue;
    border: 1px solid lightgray;
    border-radius: 2px;
  }
  
  .car-list-home-slides {
    display: none;
  }
  
  /* Add media queries as needed for responsiveness */
  